@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  scroll-behavior: smooth;
 }
.header{
  display: flex;
  justify-content:center;
  height: 20em;
  color: white;
  background-color: #790819;
}
footer{
  display: flex;
  justify-content:center;
  height: 10em;
  color: white;
  background-color: #790819;
}
